<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>진식님 없는 진식팀 - 회원가입</title>
  <link rel="stylesheet" href="/static/styles/signup.css">
</head>
<body>
<div id="signup_box">
  <input required type="text" id="signup_box_id" placeholder="아이디">
  <input required type="password" id="signup_box_pw" placeholder="비밀번호">
  <input required type="password" id="signup_box_pw" placeholder="비밀번호 확인">
  <input required type="text" id="signup_box_nickName" placeholder="닉네임">
  <button id="login_box_btn"> 로그인</button>
</div>
</body>
</html>