
#musicpageArticle {
    width: auto;
    height: auto;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
}

#musicBox {
    width: auto;
    height: auto;
    background-color: lightpink;

    display: flex;
    flex-direction: column;

    margin-bottom: 50px;
}

#musicList {
    display: flex;
    justify-content: space-evenly;
}

#musicListData {
    display: flex;
    flex-direction: column;
}

#musicHtml {
    display: flex;
    justify-content: space-evenly;
}

#commentBox {
    width: auto;
    height: auto;
    background-color: rgba(128, 128, 128, 0.419);
}

#commentInfo {
    display: flex;display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#commentLeft {
    margin-right: 50px;
}

#card-header-btns {
    margin-left: 1650px;
}

#card-body {
    height: 110px
}

#commentcard {
    margin-top: 30px
}

#commentbigbox {
    margin-auto: auto;
    background-color: black;
}
